<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>profileuser</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
     <welcome-file>profile.jsp</welcome-file>
      <welcome-file>editProfile.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>UpdateProfileServlet</servlet-name>
  <servlet-class>jagadeesh.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>UpdateProfileServlet</servlet-name>
  <url-pattern>/UpdateProfileServlet</url-pattern>
  </servlet-mapping>
</web-app>
</element>